.hidden {
  position: absolute !important;
  overflow: hidden !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

.flex {
  display: flex !important;
}

@media (min-width: 768px) {
  .flex-md {
    display: flex !important;
  }
  .md-size6of12 {
    width: calc(100% * (6 / 12));
  }
}

.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}

.column-green-200 {
  background-color: $green-200 !important;
  color: hsl(164, 31%, 17%) !important;
}
.column-green-500 {
  background-color: $green-500;
  color: $white !important;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
